<h3>Subscription confirmation</h3>

Hi {{ account.firstName }} {{ account.lastname }}!

Your subscription has been taken into account. Here are the details :

<ul>
    <li>Last name : <i>{{ account.lastName }}</i></li>
    <li>First name : <i>{{ account.firstName }}</i></li>
    <li>Gender : <i>{{ account.gender.getType() }}</i></li>
    <li>Birthday : <i>{{ account.birthday|date("Y-m-d") }}</i></li>
    <li>Job : <i>{{ account.job.name }}</i></li>
    <li>Country : <i>{{ account.country.name }}</i></li>
</ul>

See you soon !